<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css?v=20250704" type="text/css">
    <script src="sidebar.js"></script>
</head>

<body>
    <div id="sidebar-placeholder"></div>
    <main>
        {{{content}}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</body>

</html>