<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css?v=20250704" type="text/css">
</head>

<body>
    <div id="sidebar">
        <ul>
            <li><a href="base64.html">Base64 编码/解码</a></li>
            <li><a href="url.html">URL 编码/解码</a></li>
            <li><a href="json.html">JSON 格式化</a></li>
            <li><a href="index.html">其他工具</a></li>
        </ul>
    </div>
    <main>
        {{{content}}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</body>

</html>